<header id="myHeader">
    <div id="headerDiv">
        <a routerLink="/home" href="/home"><img id="logo" src="./assets/icons/standardLogo.svg" alt="Logga"></a>
        <a id="logo-text" routerLink="/home" href="/home">
            <h3>Gretas Lilla Fik</h3>
        </a>
    </div>

    <nav id="bigScreenNav">
        <ul id="bigScreenList">
            <li><a class="menyLänkar" (click)="scrollToElement('imageContainer')" routerLinkActive="current">HEM</a></li>
            <li><a class="menyLänkar"  (click)="scrollToElement('menuContainer')" routerLinkActive="current">MENY</a></li>
            <li><a class="menyLänkar" (click)="scrollToElement('aboutContainer')" routerLinkActive="current">OM OSS</a></li>
            <li><a class="menyLänkar" routerLink="/login" href="/login" routerLinkActive="current"><img src="/assets/icons/user.png" alt="login-icon"></a></li>
        </ul>
    </nav>

    <button class="menu-btn open" id="open-menu">
        <span class="menu-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </span>
    </button>
    <nav id="nav-menu">
        <button class="menu-btn close" id="close-menu">
            <span class="menu-icon">
                <img src="/assets/icons/cross.png" alt="kryss">
            </span>
        </button>
        <ul>
            <li><a class="menyLänkar" (click)="scrollToElement('imageContainer')" routerLinkActive="current">HEM</a></li>
            <li><a class="menyLänkar"  (click)="scrollToElement('menuContainer')" routerLinkActive="current">MENY</a></li>
            <li><a class="menyLänkar" (click)="scrollToElement('aboutContainer')" routerLinkActive="current">OM OSS</a></li>
            <li><a class="menyLänkar" routerLink="/login" href="/login" routerLinkActive="current"><img src="/assets/icons/user.png" alt="login-icon"></a></li>
        </ul>
    </nav>
</header>