<footer>
    <div class="footer-container">
        <div id="headingText">
            Gretas Lilla Fik
        </div>
        <div id="subHeadingText">
            - Ett litet bageri -
        </div>
        <div id="description">
            Gretas lill cafe är ett litet bageri och café som drivs av
            hemmabagerskan Greta Palm. Fokuset i sortimentet ligger på att erbjuda olika och allergivänliga alternativ
            både vad gäller fika och lunch.
        </div>
        <div>
            <img class="icons" src="/assets/icons/phone-call.png" alt="">
            <a class="iconText" href="tel+0000000000">070-365 543 34</a>
        </div>
        <div>
            <img class="icons" src="/assets/icons/envelope.png" alt=""><a class="iconText"
                href="mailto:mebu2300@student.miun.se">E-mail</a>
        </div>
        <div>
            <img class="icons" src="/assets/icons/marker.png" alt="">
            <a class="iconText" href="https://www.google.com/maps/place/Kungs%C3%A4ngen+station,+196+30+Kungs%C3%A4ngen/@59.4777125,17.751305,17z/data=!4m6!3m5!1s0x465fa3e7da3baef1:0x5e17f11b0d424d4!8m2!3d59.477882!4d17.752499!16s%2Fg%2F1q54w4s93">Kungsgatan 5, 722 11 Kungsängen
            </a>
        </div>
    </div>
    <div>© Gretas lilla fik - Ett litet bageri </div>
</footer>