@use '../../styles'; // Inkludera styles.scss



body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #f3edec;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: styles.$font-style;

}

main {
    @include styles.center-element;
}

button {
    background: styles.$btn-color;
}

// FORMULÄRETS STYLES

#margin {
    margin-top: 5em;
}

.formContainer {
    margin: 6em auto 1em;
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #814300;
    box-shadow: 9px -10px 20px black;

    label,
    input,
    button {
        display: block;
        width: 100%;
        padding: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
    }


}

.addBtn {
    color: white;
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 9px -10px 20px black;
    transition: 0.5s;
}

.addBtn:hover {
    box-shadow: none;
    cursor: pointer;
    color: black;
}

label {
    margin-bottom: 4px;
    @include styles.h3-styles;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: gray;
}

input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 2em;
    font-size: 1.2em;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}




// TABELLEN STYLES
#tableContainer {
    @include styles.center-element;
    margin: 2em 0px;
}

table {
    margin: 0;
    border-collapse: collapse;
    width: 100%; // Full bredd på små skärmar
    max-width: 50%; // Begränsa bredden på större skärmar    
    border-radius: 20px;
    background: #814300;
    box-shadow: 9px -10px 20px black;
}

thead td {
    text-decoration: underline;
    font-weight: 600;
    padding: 0.5em;
}

tbody td {
    border-bottom: solid 1px;
    padding: 0.5em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

tbody tr {
    margin-bottom: 1em;

}


.tableBtn, #logout {
    color: white;
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 9px -10px 20px black;
    transition: 0.5s;
    border: none;
    padding: 10px;
}

.tableBtn:hover, #logout:hover {
    box-shadow: none;
    cursor: pointer;
    color: black;
}

/* Media queries för att anpassa stilar på mindre skärmar */
@media (max-width: 600px) {
    table {
      width: 100%; // Full bredd på små skärmar
      background: transparent;

    }
  
    thead {
      display: none; // Dölj tabellhuvudet på små skärmar
    }
  
    tbody tr {
      display: block;
      margin-bottom: 1em;
      border: solid 1px;
      border-radius: 20px;
      background: #814300;
      box-shadow: 9px -10px 20px black;
    }
  
    tbody td {
      display: block;
      text-align: right;
      padding: 0.5em;
      border-bottom: none;
      position: relative;
    }
  
    tbody td::before {
      content: attr(data-label); // Använd data-label attributet för att visa rubriker på små skärmar
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 0.5em;
      font-weight: bold;
      text-align: left;
    }

  /* Dölj specifika kolumner på små skärmar */
  tbody td:nth-child(2), /* Description */
  tbody td:nth-child(3) { /* Price */
      display: none;
  }
  }