/* You can add global styles to this file, and also import other style files */

// VARIABLER
$line-height: 150%;
$font-style: Poppins, sans-serif;
$link-color: rgb(0, 0, 255);
$btn-color: #2c1a08;
$main-color: #413121;
$text-color: white;
$background-color: #ffffff;


$main-color-dark: #413121;
$text-color-dark: lighten($text-color, 99%);
$background-color-dark: darken($background-color, 40%);

//Body
body {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    line-height: 150%;
    font-family: $font-style;
    background-color: $main-color;
}




@mixin center-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin h1-styles {
    font-size: 2em;
    font-weight: 600;
    line-height: $line-height;
    margin-bottom: 0%;
    font-family: $font-style;
}

@mixin h2-styles {
    font-size: 1.5em;
    font-weight: 600;
    line-height: $line-height;
    margin-bottom: 0%;
    font-family: $font-style;
}

@mixin h3-styles {
    font-size: 1.2em;
    line-height: $line-height;
    margin-bottom: 0%;
    font-family: $font-style;
}

@mixin p-styles {
    font-size: 1em;
    line-height: $line-height;
    margin-top: 0%;
    font-family: $font-style;

}


header,
footer,
button,#nav-menu {
    background-color: $btn-color;
}

#mainContainer {
    background-color: $background-color;
}

p,
h1,
h2,
li,
ul,
span,
label,
table,
button,
div {
    color: $text-color;
}